{*************************************************************
 * Template for displaying checkbox fields in dump settings. *
 *                                                           *
 * Parameters:                                               *
 *     - $form: the form.                                    *
 *     - $fieldName: name of the form field.                 *
 *************************************************************}
{form_field form=$form field="dump_settings.$fieldName"}
<div class="row form-group">
    <span>
        {$label}
        {form_error form=$form field="dump_settings.$fieldName"}
            <br/><span class="error">{$message}</span>
        {/form_error}
    </span>
    <input type="checkbox" name="{$name}" value="{$value}" id="{$label_attr.for}"{if $value == 1} checked="checked"{/if}/>
</div>
{/form_field}
