{default_translation_domain domain='dumper.bo.default'}
<div class="general-block-decorator">
    {form name='dumper.dump_opts'}
    <form id="dumper_form" action="{url path='/admin/module/Dumper'}" method="post" {form_enctype form=$form}>
        {form_hidden_fields form=$form}
        
        {if $form_error_message}
            <div class="row alert alert-danger">{$form_error_message|nl2br}</div>
        {/if}
        
        {form_field form=$form field='dbname'}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">{$label}</th>
                </tr>
            </thead>
            <tbody>
                {loop name='dbloop' type='dumper.databases'}
                <tr id="{$DBNAME}-row">
                    <td class="col-sm-1">
                        <input type="radio" name="{$name}" value="{$DBNAME}" class="db-radio"{if $DBNAME == $THELIA_DB} checked="checked"{/if}/>
                    </td>
                    <td>{$DBNAME}</td>
                </tr>
                {/loop}
            </tbody>
        </table>
        {/form_field}
        
        <fieldset class="row container-fluid">
            <legend data-toggle="collapse" data-target="#adv-conf">{intl l='dump_form.advanced params.label'}</legend>
            <div id="adv-conf" class="container">
                <fieldset class="row container-fluid">
                    <legend data-toggle="collapse" data-target="#dump-conf">{intl l='dump_form.advanced params.dump.label'}</legend>
                    <div id="dump-conf" class="container">
                        {form_field form=$form field='dump_settings.include-tables'}
                        <div class="row form-group">
                            <span>
                                {$label}
                                {form_error form=$form field='dump_settings.include-tables'}
                                    <br/><span class="error">{$message}</span>
                                {/form_error}
                            </span>
                            <select id="{$label_attr.for}" multiple="multiple" name="{$name}" class="tables-select"></select>
                        </div>
                        {/form_field}
                        
                        {form_field form=$form field='dump_settings.exclude-tables'}
                        <div class="row form-group">
                            <span>
                                {$label}
                                {form_error form=$form field='dump_settings.exclude-tables'}
                                    <br/><span class="error">{$message}</span>
                                {/form_error}
                            </span>
                            <select id="{$label_attr.for}" multiple="multiple" name="{$name}" class="tables-select"></select>
                        </div>
                        {/form_field}
                        
                        {form_field form=$form field='dump_settings.compress'}
                        <div class="row form-group">
                            <span>
                                {$label}
                                {form_error form=$form field='dump_settings.compress'}
                                    <br/><span class="error">{$message}</span>
                                {/form_error}
                            </span>
                            <select id="{$label_attr.for}" name="{$name}">
                                {foreach $choices as $choice}
                                <option value="{$choice->value}"{if $choice->value == $value} selected="selected"{/if}>{$choice->label}</option>
                                {/foreach}
                            </select>
                        </div>
                        {/form_field}
                        
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='no-data'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='add-drop-table'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='single-transaction'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='lock-tables'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='add-locks'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='extended-insert'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='disable-keys'}
                        
                        {form_field form=$form field='dump_settings.where'}
                        <div class="row form-group">
                            <span>
                                {$label}
                                {form_error form=$form field='dump_settings.where'}
                                    <br/><span class="error">{$message}</span>
                                {/form_error}
                            </span>
                            <span class="input-group">
                                <span class="input-group-addon">'</span>
                                <input type="text" id="{$label_attr.for}" name="{$name}" value="{$value}" class="form-control"/>
                                <span class="input-group-addon">'</span>
                            </span>
                        </div>
                        {/form_field}
                        
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='no-create-info'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='skip-triggers'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='add-drop-trigger'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='hex-blob'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='add-drop-database'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='skip-tz-utc'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='no-autocommit'}
                        
                        {form_field form=$form field='dump_settings.default-character-set'}
                        <div class="row form-group">
                            <span>
                                {$label}
                                {form_error form=$form field='dump_settings.default-character-set'}
                                    <br/><span class="error">{$message}</span>
                                {/form_error}
                            </span>
                            <select id="{$label_attr.for}" name="{$name}">
                                {foreach $choices as $choice}
                                <option value="{$choice->value}"{if $choice->value == $value} selected="selected"{/if}>{$choice->label}</option>
                                {/foreach}
                            </select>
                        </div>
                        {/form_field}
                        
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='skip-comments'}
                        {include file='includes/checkbox_dump_field.html' form=$form fieldName='skip-dump-date'}
                    </div>
                </fieldset>
                <fieldset class="row container-fluid">
                    <legend data-toggle="collapse" data-target="#pdo-conf">{intl l='dump_form.advanced params.pdo.label'}</legend>
                    <div id="pdo-conf" class="container">
                        Lorem ipsum PDO
                    </div>
                </fieldset>
            </div>
        </fieldset>
        
        <button type="submit" class="btn btn-primary">{intl l='dump_form.export'}</button>
        
    </form>
    {/form}
</div>
